body{
    margin: 0;
    padding: 0;
    background-color: rgb(190, 154, 27);
}

.first .info p {
    border: 3px solid rgb(219, 122, 11);
    background-color: rgb(17, 177, 124);
    box-shadow: 4px 6px 3px;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}
.first img {
    width: 450px;
    height: 450px;
    float : right
}
.first .info p {
    width: 580px;
    height: 450;
    font-size: 20;
    display: flex;
    grid-template-columns: repeat(2,1fr)
}

.last  .info p {
    border: 3px solid rgb(194, 22, 22);
    background-color: rgb(13, 158, 158);
    box-shadow: 4px 6px 3px;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}

.last img {
    width: 400px;
    height: 400px;
    float: left;
}

.last .info p {
    width: 600px;
    height: 400;
    font-size: 20;
    display: flex;
    grid-template-columns: repeat(2,1fr);
    float: inline-end;

}
.last .info p{
    float: right;
}